<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}

   %>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <div class="thumbnail pizza-card">
        <% if(pizza.is_new) { %>
        <span class="label label-danger lb-danger">Нова</span>
        <% } if(pizza.is_popular) {%>
        <span class="label label-success lb-success">Популярна</span>
        <% } %>
        <img src="<%= pizza.icon %>">
    <div class="caption">
        <h3><%= pizza.title %></h3>
        <h6 class="text-muted"><%= pizza.type %></h6>
        <p><%= getIngredientsArray(pizza).join(", ") %></p>
        <div class="row">
        <% if(pizza.small_size!=null) { %>
            <div class="<% if(pizza.big_size!=null) { %>col-xs-6<% } %> price">
                <div class="icons">
                    <div class="icon-size">
                        <img class="ui right spaced avatar image" src="assets/images/size-icon.svg" />
                        <span class="size"><%= pizza.small_size.size %></span>
                    </div>
                    <div class="icon-weight">
                        <img class="ui right spaced avatar image" src="assets/images/weight.svg" />
                        <span class="weight"><%= pizza.small_size.weight %></span>
                    </div>
                </div>
                <h4><%= pizza.small_size.price %></h4>
                <h5>грн.</h5>
                <a href="#" class="btn btn-warning buy-small" role="button">Купити</a>
            </div>
        <% } if(pizza.big_size!=null) {%>
            <div class="<% if(pizza.small_size!=null) { %>col-xs-6<% } %> price">
                <div class="icons">
                    <div class="icon-size">
                        <img class="ui right spaced avatar image" src="assets/images/size-icon.svg" />
                        <span class="size"><%= pizza.big_size.size %></span>
                    </div>
                    <div class="icon-weight">
                        <img class="ui right spaced avatar image" src="assets/images/weight.svg" />
                        <span class="weight"><%= pizza.big_size.weight %></span>
                    </div>
                </div>
                <h4><%= pizza.big_size.price %></h4>
                <h5>грн.</h5>
                <a href="#" class="btn btn-warning buy-big" role="button">Купити</a>
            </div>
        <% } %>
        </div>
        </div>
    </div>
</div>